<div *ngIf= "!isAdminLoggedIn && !isEmployeeLoggedIn">
    <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand">Task Tracker</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
      <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
    </mat-toolbar>

    <div *ngIf="isHomePage()">
      <div class="home-message">
        <h1 class="welcome-title">Welcome to Task Tracker</h1>
        <p class="animated-title">Stay on top of your tasks – manage, track, and succeed!</p>
      </div>
    </div>
    
    
  </div>
  

<div *ngIf= "isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
      <span class="navbar-brand">Task Tracker</span>
    <span class="spacer"></span>
   <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">DashBoard</button>
    <button mat-button routerLink="/admin/panel" routerLinkActive="active">ADMIN PANEL</button>

   
    <button mat-button  routerLinkActive="active" (click)= "logout()">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf= "isEmployeeLoggedIn">
  <mat-toolbar color="primary" class="navbar">
      <span class="navbar-brand">Task Tracker</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/employee/dashboard" routerLinkActive="active">DashBoard</button>
    <button mat-button routerLink="/employee/profile" routerLinkActive="active">Profile</button> <!-- ✅ ADĂUGAT -->
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>